<div class='container'>
  <div class='row'>

    <div class='col-4'>

      <div class='profile-image'>
        <img src='{{profileImg}}' alt='{{username}}' />
      </div>

      <div class='row'>
        <div class='col'>
          <div class='d-grid mt-2'>
            <a href='/' class='btn btn-dark'>Back</a>
          </div>
        </div>

        <div class='col'>
          <div class='d-grid mt-2'>
            <a href='/members/profile/edit' type='submit' class='btn btn-success block'>Edit Profile</a>
          </div>
        </div>
      </div>

    </div>

    <div class='col-8'>

      <h2 class='mt-2'><strong>{{username}}</strong></h2>
      <hr />
      <br />
      <h3><strong>E-mail:</strong> {{email}}</h3>
      <br />
      <h3><strong>Role:</strong> {{role}}</h3>
    </div>

  </div>
</div>