<div class="container">

    <h1>Detalles de usuario</h1>
    <hr>

    <p>Nombre de usuario: {{username}}</p>
    <hr>
    <p>Correo electrónico: {{email}}</p>
    <hr>
    <p>Descripción: {{description}}</p>
    <hr>
    <p>Tipo de usuario: {{role}}</p>

    <a href='/details/{{_id}}/borrar'>Borrar</a>
    <a href='/details/{{_id}}/editar'>Editar</a>

</div>