<h1>Perfil de {{student.username}}</h1>

{{#if isPM}}
<form action="/estudiantes/{{student.id}}" method="POST">
    <button class="btn btn-danger" type="submit">Eliminar</button> <br>
</form>

<a class="btn btn-warning" href="/estudiantes/{{student.id}}/editar">Editar</a> <br>

<form action="/estudiantes/{{student.id}}/editar/TA" method="POST">
    <button class="btn btn-dark" type="submit">TA</button>
</form>

<form action="/estudiantes/{{student.id}}/editar/DEV" method="POST">
    <button class="btn btn-dark" type="submit">DEV</button>
</form>

{{/if}}

{{#if isSameId}}

<a class="btn btn-warning" href="/estudiantes/{{student.id}}/editar">Editar</a> <br>

{{/if}}