<div class="container">
    <h2>Update the student</h2>
    <div class="col-6">
        <div class="row">
            <form action="/student/{{id}}/edit" method="post">
                <div class="row m-5">
                    <label for="">Name</label>
                    <input type="string" name="username" value="{{username}}">
                </div>
                <div class="row m-5">
                    <label for="">Email</label>
                    <input type="email" name="email" value="{{email}}">
                </div>
                <div class="row m-5">
                    <label for="">Description</label>
                    <input type="string" name="description" value="{{description}}">
                </div>

                {{!-- <input type=" text" name="user" value="{{_id}}">
                --}}
                <button class="btn btn-primary m-5" type="submit">Update Student</button>
            </form>
        </div>
    </div>
</div>