<div class="container">

    <h2>{{username}}'s details Page</h2>
    <p> {{profileImg}}</p>
    
    <hr>

    <p> {{profileImg}}</p>
    <p>UserName: {{username}}</p>
    <p>Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <p>FacebookId: {{facebookId}}</p>
    <p>Role: {{role}}</p>

    <hr>


    <a class="btn btn-dark" href="/admin">Back to the list</a>
</div>