<div class="container">
    <h1>Todos los cursos</h1>
    <div class="container mt-2">
        <div class="row">
            {{#each course}}
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{courseImg}}" class="card-img-top" alt={{title}}>
                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <p>Descripción: {{description}}</p>
                        <p>Dia de comienzo: {{startDate}}</p>
                        <p>Dia de finalización: {{endDate}}</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="/courses/{{id}}" class="btn btn-dark btn-sm">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>