<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>{{status}}</p>
    <h3>Teacher assitants</h3>
    <ul>
        {{#each ta}}
        <li>{{username}}</li>
        {{/each}}
    </ul>
    <img src="{{courseImg}}" alt="img">

</div>