<div class="container p-5">
    <div class="row justify-content-center">

        <div class="col-md-6 p-4">
            <h2>Add new course</h2>
            <form class="row g-3" action="/courses/create" method="POST">
                <div class="col-12">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" title="title" class="form-control" id="title">
                </div>
                <div class="col-12">
                    <label for="leadTeacher" class="form-label">Lead teacher:</label>
                    <select id="leadTeacher" name="leadTeacher" class="form-select" multiple
                        aria-label="multiple select example">
                        {{#each leadTeacher}}
                        <option value="{{id}}">{{username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="startDate" class="form-label">Start date:</label>
                    <input type="date" name="startDate" class="form-control" id="startDate">
                </div>
                <div class="col-md-6">
                    <label for="endDate" class="form-label">End date:</label>
                    <input type="date" name="endDate" class="form-control" id="endDate">
                </div>
                <div class="col-12">
                    <label for="ta" class="form-label">Ta:</label>
                    <select id="ta" name="ta" class="form-select" multiple aria-label="multiple select example">
                        {{#each ta}}
                        <option value="{{id}}">{{username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-12">
                    <label for="students" class="form-label">Students:</label>
                    <select id="students" name="students" class="form-select" multiple
                        aria-label="multiple select example">
                        {{#each students}}
                        <option value="{{id}}">{{username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="description" class="form-label">Description:</label>
                    <textarea type="text" name="description" class="form-control"
                        id="description">{{description}}</textarea>

                </div>
                <div class="col-md-12">
                    <label for="courseImg" class="form-label">Course img:</label>
                    <input type="text" name="courseImg" class="form-control" id="courseImg">
                </div>
                <div class="col-6">
                    <label for="status" class="form-label">Status:</label>
                    <select id="status" name="status" class="form-select" aria-label="multiple select example">
                        <option value="ON">ON</option>
                        <option value="OFF">OFF</option>
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>