<a href="/courses" class="btn-menu"> >Back to courses</a>

<h1 class="mt-5">New Course</h1>

<form action="/courses/{{course.id}}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      name="title"
      value="{{course.title}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="exampleInputPassword2"
      name="startDate"
      value="{{course.startDate}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">End Date</label>
    <input
      type="date"
      class="form-control"
      id="exampleInputPassword2"
      name="endDate"
      value="{{course.endDate}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="description"
      value="{{course.description}}"
    />
    <div id="emailHelp" class="form-text">A simple description of the course</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>