{{!-- Recordar:
1- Action coincida con la ruta
2- Value = "{{}}" para que aparezca la informaci贸n de la BD
3- Type = submit en el boton
4- name coincida con el modelo
--}}
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar perfil de {{student.username}}</h1>
            <hr>

            <form action="/students/{{student._id}}/edit" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Direcci贸n de email</label>
                        <input type="email" class="form-control" id="emailInput" name="email" value="{{student.email}}">

                    </div>

                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username"
                        value="{{student.username}}">
                </div>

                <div class="mb-3">
                    <label for="imageInput" class="form-label">Imagen</label>
                    <input type="url" class="form-control" id="imageInput" name="profileImg"
                        value="{{student.profileImg}}">
                    <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Descripci贸n</label>
                    <textarea class="form-control" id="descriptionInput" rows="3" name="description"
                        value="{{student.description}}"></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Completar edici贸n</button>
                </div>

                <hr>

                <a href="/students">Volver a estudiantes</a>

            </form>
        </div>
    </div>

</div>