<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit</h1>

            <hr>

            <form method="POST" action="/private/{{id}}/edit-page">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username" value="{{username}}">
                </div>

                <div class=" form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{name}}">
                </div>

                <div class="form-group">
                    <label for="profileImg">Profile image</label>
                    <input name="profileImg" type="text" class="form-control" id="profileImg" value="{{profileImg}}">
                </div>

                <div class="form-group">
                    <label for="description"> Description</label>
                    <input name="description" type="text" class="form-control" id="description" value="{{description}}">
                </div>

                <div class="form-group">
                    <label for="facebookId">Facebook ID</label>
                    <input name="facebookId" type="text" class="form-control" id="facebookId" value="{{facebookId}}">
                </div>



                <button type="submit" class="btn btn-dark">Save Edit</button>
                <a href="/private" class="btn btn-outline-dark">Go back</a>
            </form>

        </div>
    </div>