<h1>Perfil de {{username}}</h1>

<img src="{{profileImg}}" alt="">

<h2>'{{description}}'</h2>

{{!-- {{#if isPM}} --}}
<a href='/students/{{_id}}/update' />Update</a>
<a href='/students/{{_id}}/delete' />DELETE</a>
{{!-- {{/if}} --}}