<div class="card" style="width: 18rem;">
  <img src="{{profileImg}}" class="card-img-top" alt="profile image">
  <div class="card-body">
    <h5 class="card-title">User name: {{username}}</h5>
    <p class="card-text">Email:{{email}}</p>
    <p class="card-text">Description: {{description}}</p>
    <p class="card-text">Role: {{role}}</p>
  </div>
  {{#if canPress}}
<a class="btn btn-warning" href="/students/{{_id}}/edit">Update Student</a>{{/if}}
{{#if canDelete}}<a class="btn btn-danger" href="/students/{{_id}}/delete">Delete Student :(</a> {{/if}}
</div>


