<div class="container">

    <h2>Students details: </h2>


    <p><strong>Username</strong>{{username}}</p>
    <p><strong>Email</strong>{{email}}</p>
    <p><strong>Image</strong>{{profileImg}}</p>
    <p><strong>Description</strong>{{description}}</p>
    <p><strong>Role</strong>{{role}}</p>
</div>

{{!-- {{#if isPM}}

<a href="/students/{{students.id}}/edit">Edit</a>
<form action="/students/{{students.id}}/delete" method="POST">
    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
</form>

{{/if}} --}}
</div>

</div>