<div class="container">

    <h1>{{username}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Nombre
            <br>
            {{name}} {{role}}
        </div>
        <div class="col-md-6">
            Foto de perfil
            <br>
            {{profileImg}}
        </div>
        <div class="col-md-6">
            Descripcion
            <br>
            {{description}}
            <hr>
        </div>
    </div>

    <hr>
    <a href="/students" class="btn btn-dark">Volver</a>
</div>