<div class="container">

    <h2>Lista de usuarios</h2>
    <hr>

    {{#each users}} {{!-- Este users es el objeto que nos hemos traido de la base de datos con el .find() que está en la
    ruta de students --}}


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." {{profileImg}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <p class="card-text">{{email}}</p>
            <p class="card-text">{{description}}</p>

            <a href="/students/{{id}}" class="btn btn-primary">Detalles</a>

        </div>
    </div>

    {{/each}}

</div>