{{#with student}}
<h2>{{this.username}}'s profile</h2>
<p>Username: {{this.username}}</p>
<p>eMail: {{this.email}}</p>
<p>Role: {{this.role}}</p>
<p>Image: </p><img src="{{this.profileImg}}"> 
<p>Description: {{this.description}}</p>
 
{{/with}}