<div class="container">

<div class="col-md-6">

    <h1>Edición del curso</h1>
    <hr>

    <form action="/new-course" method="POST">

        <div class="mb-3">
            <label for="title" class="form-label">Nombre del curso</label>
            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
        </div>

        <div>
            <label for="leadTeacher" class="form-label">Profesor <span>*Keep CTRL pressed to select
                    multiple</span></label>
            <select class="form-select" name="leadTeacher" id="leadTeacher" multiple>
                {{#each user}}
                <option value="{{id}}">{{username}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="startDate" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control" id="startDate" name="startDate" value="{{startDate}}">
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">Fecha de finalización</label>
            <input type="date" class="form-control" id="endDate" name="endDate" value="{{endDate}}">
        </div>

        <div>
            <label for="ta" class="form-label">TA<span>*Keep CTRL pressed to select multiple</span></label>
            <select class="form-select" name="ta" id="ta" multiple>
                {{#each user}}
                <option value="{{id}}">{{username}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="courseImg" class="form-label">Imagen del curso</label>
            <input type="text" class="form-control" id="courseImg" name="courseImg" value="{{courseImg}}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="description" value="{{description}}">
        </div>

        <div>
            <label for="students" class="form-label">Alumnos<span>*Keep CTRL pressed to select
                    multiple</span></label>
            <select class="form-select" name="students" id="students" multiple>
                {{#each user}}
                <option value="{{id}}">{{username}}</option>
                {{/each}}
            </select>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark block">Completar registro</button>
        </div>

        {{#if errorMessage}}
        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}

    </form>
</div>
</div>