<h1>Detalles del alumno</h1>
<hr>


<h3>Estudiante:  </h3>
<p>{{userDetails.username}}</p>
    
<h3>Descripción: </h3>
<p>{{userDetails.description}}</p> 

<h3>Role: </h3>
<p>{{userDetails.role}}</p>


    {{#if isAdmin}}
        <a href="/students/delete/{{userDetails.id}}">Borrar</a>
        </br>
        <a href="/students/edit/{{userDetails.id}}">Editar</a>
        </br>
        
    {{/if}}

   {{#if isOwner}}
       <a href="/students/edit/{{userDetails.id}}">Editar</a>
   {{/if}}

 


      


    