<div class="container mt-5">
    <h2>Edita tu perfil</h2>
    <hr>

    <form action="/edit-your-profile/{{id}}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="username" name="username" value="{{username}}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{email}}">
        </div>
        <div class="mb-3">
            <label for="profileImg" class="form-label">Foto perfil (url)</label>
            <input type="text" class="form-control" id="profileImg" name="profileImg" value="{{profileImg}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="description" name="description" value="{{description}}">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Tu Rol es</label>
            <select name="role">
                <option value="" selected>{{role}}</option>
            </select>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-dark">Editar</button>
        </div>
    </form>

</div>