<div class="container mt-5">
    <hr>
    <div class="row">
        <h1>Mi Perfil</h1>
        <br>
        <div class="col-md-4 mb-3 ">
            <div>
                <img src={{user.profileImg}} class="card-img-top mt-5">
                <div>
                    <h5 class="card-title mt-5"> Nombre de usuario: {{user.username}} </h5>
                    <h5 class="card-title mt-2">Descripcion: {{user.description}} </h5>
                    <h5 class="card-title mt-2">Rol: {{user.role}} </h5>

                    {{#if isAdmin}}
                    <a href='/students/edit/{{user._id}}' class="btn btn-dark">Editar Perfil</a>
                    <form action="/students/eliminar/{{user._id}}" method="POST" style="display: inline">
                        <input type="submit" value="Eliminar Perfil" class="btn btn-danger">
                    </form>
                    {{/if}}

                    {{#if isOwner}}
                    <a href="/students/edit/{{user._id}}" class="btn btn-warning">Editar Perfil</a>
                    {{/if}}




                </div>
            </div>
        </div>



        <a href="/" class="btn btn-dark">Inicio</a>
    </div>