<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h3>{{student.username}}</h3>
        <hr>
        {{student.email}}
        <hr>
        <img class="w-100" src="{{student.profileImg}}" alt="profile pic">
        {{student.description}}
        <div class="row">
            <div class="col-12">
                <a href="/students" class="btn btn-dark mt-3" href=>Go back</a>
                {{#if userRoles.isOwner}}
                <a href="/students/{{student._id}}/edit" class="btn btn-dark mt-3" href=>Edit</a>

                {{/if}}

                {{#if userRoles.isPM}}
                <a href="/students/{{student._id}}/delete" class="btn btn-dark mt-3" href=>Delete</a>
                <a href="/students/{{student._id}}/edit" class="btn btn-dark mt-3" href=>Edit</a>


                <form action="/students/{{student._id}}" method="POST">
                    <button class="btn btn-info mt-2" type="submit" name="role" value="DEV">Mark as Developer</button>
                    <button class="btn btn-info mt-2" type="submit" name="role" value="TA">Mark as TA</button>
                </form>
                {{/if}}
            </div>
        </div>


    </div>


</div>