<div class="container mt-5">
    <h2>Perfil de estudiante</h2>
    <hr>
    <div class="row">

        <div class="col-3">
            <img class="photo-student" src="{{student.profileImg}}" alt="{{student.username}}">
        </div>

        <div class="col-9">
            <h3>Nombre: {{student.username}}</h1>
                <p>Email: {{student.email}}</p>
                <p>Descripción: {{student.description}}</p>
        </div>
        {{!--
        {{#if isStudent}}

        <form action="/edit-your-profile/{{student.id}}" method="POST">
            <input type="submit" value="Borrar" class="btn btn-danger btn-sm">
        </form>

        {{/if}} --}}


        {{#if isPM}}

        <div>
            <form action="/student/{{student.id}}/edit" method="GET">
                <input type="submit" value="Editar" class="btn btn-warning btn-sm">
            </form>
            <form action="/student/{{student.id}}/delete" method="POST">
                <input type="submit" value="Borrar" class="btn btn-danger btn-sm">
            </form>
        </div>

        {{/if}}



    </div>
</div>