<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit Profile</h1>
            <hr>

            <form action="/students/{{student._id}}/edit" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Dirección de email</label>
                        <input type="email" value="{{student.email}}" class="form-control" id="emailInput" name="email">
                        <div class="form-text">Requerido.</div>
                    </div>
                   
                </div>
                
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" value="{{student.username}}" class="form-control" id="usernameInput" name="username">
                </div>
                
                <div class="mb-3">
                    <label for="imageInput" class="form-label">Imagen</label>
                    <input type="url" value="{{student.profileImg}}" class="form-control" id="imageInput" name="profileImg">
                    <div class="form-text">Actualiza la URL a la imagen que desees de perfil.</div>
                </div>
                
                <div class="mb-3">
                  <label for="descriptionInput" class="form-label">Descripción</label>
                  <textarea class="form-control"  id="descriptionInput" rows="3" name="description">{{student.description}}</textarea>
                </div>

                <div class="mb-3">
                  {{#if canEditPM}}
                    <label for="role" class="form-label">Rol</label>
                    <select class="form-select" name="role">
                        <option value="{{user.role}}">Seleccionar...</option>
                        <option value="STUDENT">STUDENT</option>
                        <option value="DEV">DEV</option>
                        <option value="TA">TA</option>
                    </select>
                   {{/if}}
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Actualizar registro</button>
                </div>
                
                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
            
        </div>
    </div>

</div>
