<div class="container">
    <h2><strong>{{student.username}}</strong></h2>
    <br>
    <h4>Licence : {{student.role}}</h4>
    <br>
    <hr>
    <h5>Who am I:</h5>
    <p>{{student.description}}</p>

    <hr>
    
    <img src="{{student.profileImg}}" alt="{{student.username}}">
    

    {{!-- <div class="col-md-6">

            <form action="/movies/{{id}}/delete" method="POST">
                <button type="submit" class="btn btn-dark btn-block">Delete Movie</button>
            </form>
        </div>

    </div> --}}
<br>

    <a href="/" class="btn btn-dark">Home</a>
</div>