<div class="container">
    <h1>Perfil de {{username}}</h1>
    <ul>
        <li>{{description}}</li>
        <li>{{role}}</li>
    </ul>
</div>
<div class="col-4">
    <img src="{{profileImg}}" alt=`{{username}}-img`>
</div>
<a href="/edit/{{_id}}" class="btn btn-sm btn-info">editar</a>