

{{#with profile}}

<h1>Perfil de {{username}}</h1>

  <p>Nombre de usuario: {{username}}</p>
  <p>Email: {{email}}</p>
  <p>Imagen de perfil:</p>
  <img src="{{profileImg}}" alt="Imagen de perfil" />
  <p>Descripción: {{description}}</p>


{{/with}}