<div class="container">
    <h1>Todos los alumnos</h1>
    <div class="container mt-2">
        <div class="row">
            {{#each students}}
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{profileImg}}" class="card-img-top" alt={{username}}>
                    <div class="card-body">
                        <h2 class="card-title">{{username}}</h2>
                        <p>Descripción: {{description}}</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="/students/{{id}}" class="btn btn-dark btn-sm">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>