<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar perfil de {{username}}</h1>
            <hr>

            <form action="/students/profile/{{_id}}/edit" method="POST">

                <div class="mb-6 row">
                    <div class="col">
                        <label for="emailInput" class="form-label"> Nueva direcci칩n de email</label>
                        <input value="{{email}}" type="email" class="form-control" id="emailInput" name="email">

                    </div>

                </div>


                <div class="mb-3 row">
                    <div class="col">
                        <label for="pwdInput1" class="form-label">Nueva contrase침a</label>
                        <input type="password" class="form-control" id="pwdInput1" name="userPwd1">

                    </div>
                    <div class="col">
                        <label for="pwdInput2" class="form-label">Confirmar nueva contrase침a</label>
                        <input type="password" class="form-control" id="pwdInput2" name="userPwd2">

                    </div>
                </div>



                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nuevo nombre de usuario</label>
                    <input value="{{username}}" type="text" class="form-control" id="usernameInput" name="username">
                </div>

                <div class="mb-3">
                    <label for="imageInput" class="form-label">Nueva imagen</label>
                    <input value="{{profileImg}}" type="url" class="form-control" id="imageInput" name="profileImg">
                    <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Nueva descripci칩n</label>
                    <textarea class="form-control" id="descriptionInput" rows="3"
                        name="description">{{description}}</textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Confirmar cambios</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>