<div class="container">

    <h1>Wellcome {{student.username}}</h1>
    <hr>

    <p> Your email: {{student.email}}</p>
    <hr>
    <img src="{{student.profileImg}}" alt="student image"></p>
    <hr>
    <p>Bio: {{student.description}}</p>

    {{!-- Iteración#2: para que sea el usuario con role PM el único que pueda ver estos botone => IF --}}
    {{#if isPM}}

    <a href="/students/{{student._id}}/edit" class="btn btn-dark">Edit Student</a>

    <form action="/students/{{student._id}}/delete" method="POST">
        <input type="submit" class="btn btn-dark gap-2" value="Delete">
    </form>

    {{/if}}
</div>