<h1>Student details</h1>
<div>
    <h3>username: {{student.username}}</h3>
    <p>email: {{student.email}}</p>
    <p>description: {{student.description}}</p>
    {{#if isPM}}
    <form action="/students/edit/{{student._id}}" method="get">
        <button>Edit</button>
    </form>

    <form action="/students/delete/{{student._id}}" method="post">
        <button>Delete</button>
    </form>
    {{/if}}
</div>