<div class="container">

    <div class="row justify-content-center">
        <div class="col-6">

        <h2>Editar estudiante</h2>

        <hr>

        <form method="POST" action="/estudiantes/editar/{{student.id}}">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" class="form-control" id="ursername" value="{{student.username}}" name="username">
            </div>

            <div class="form-group">
                <label for="name">Nombre del estudiante</label>
                <input type="text" class="form-control" id="name" value="{{student.name}}" name="name">
            </div>

            <div class="form-group">
                <label for="profileImg">Imagen de perfil</label>
                <input type="text" class="form-control" id="profileImg" value="{{student.profileImg}}" name="profileImg">
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" value="{{student.description}}" name="description">
            </div>

            {{#if isPM}}

                <div class="form-group">
                    <label for="role">Rol: </label>
                    <select class="form-control" id="role" name="role">
            
                        <option name="STUDENT">STUDENT</option>
                        <option name="DEV">DEV</option>
                        <option name="TA">TA</option>

                    </select>
                </div>

            {{/if}}

            <br>

            <button type="submit" class="btn btn-dark">Confirmar</button>
        </form>

        </div>
    </div>

</div>