<div class="container">
    <h1>Student profile</h1>

    <div class="card" style="width: 18rem;">
        <img src="{{profileImg}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>{{user.username}}</h2>
            <ul>
                <li>Email:{{user.email}}</li>
                <li>Description:{{user.description}}</li>
            </ul>
        </div>
    </div>

    {{#if userRole.isPM}}

    <a href="/students/{{user._id}}/edit" class="btn btn-dark">Edit profile</a>

    <form action="/students/{{user._id}}/delete" method="POST">
        <input type="submit" value="Delete profile" class="btn btn-warning">
    </form>

    <form action="ta/{{user._id}}" method="POST">
        <input type="submit" value="Rol TA" class="btn btn-dark">
    </form>

    <form action="dev/{{user._id}}" method="POST">
        <input type="submit" value="Rol DEV" class="btn btn-dark">
    </form>

    {{/if}}

    {{#if userStudent.isUser}}

    <a href="/students/{{user._id}}/edit" class="btn btn-dark">Edit profile</a>

    <a href="/" class="btn btn-dark">Back</a>

    {{/if}}

    <a href="/" class="btn btn-dark">Back</a>

</div>