
{{#unless errorMessage}}
  <h1>{{student.username}}</h1>
  <h4>{{student.role}}</h4>
  <p>{{student.description}}</p>

{{#if isOwn}}
    <a href="/students/edit/{{student._id}}">Edit</a>
    <a href="/students/delete/{{student._id}}">Delete</a>
{{/if}}

{{#if isAdmin}}
    <a href="/students/edit/{{student._id}}">Edit</a>
    <a href="/students/delete/{{student._id}}">Delete</a>
{{/if}}

{{/unless}}

{{#if errorMessage}}
  <div style="margin-top: 20px; padding: 5px; color: white; background: red; text-align: center; font-size: .95em">
    {{errorMessage}}
  </div>
{{/if}}