<h1>edito</h1>

<form action="/students/details/{{user.id}}/edit" method="POST">

    <div class="mb-3 ">
        <div class="col">
            <label for="emailInput" class="form-label">Dirección de email</label>
            <input type="email" class="form-control" id="emailInput" name="email" value="{{user.email}}">
            <div class="form-text">Requerido.</div>
        </div>

        <div class="mb-3">
            <label for="usernameInput" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="usernameInput" name="username" value={{user.username}}>
        </div>

        <div class="mb-3">
            <label for="imageInput" class="form-label">Imagen</label>
            <input type="url" class="form-control" id="imageInput" name="profileImg" value={{user.profileImg}}>
            <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
        </div>

        <div class="mb-3">
            <label for="descriptionInput" class="form-label">Descripción</label>
            <textarea class="form-control" id="descriptionInput" rows="3" name="description"
                value={{user.description}}></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Guardar edición</button>
</form>
