<div class="container">
    <h2>Perfil del Estudiante</h2>
    <ul>
        <li>Username: {{students.username}}<br>
            Email: {{students.email}}<br>
            Password: {{students.password}}<br>
            Profile Image: {{students.profileImg}}<br>
            Description: {{students.description}}<br>
            Role: {{students.role}}
        </li>
    </ul>
</div>