<h1>Editar usuario: {{student.username}}</h1>

<form action="/students/edit/{{_id}}" method="POST">
  <label>
    Username: 
    <input value="{{student.username}}" name="username" type="text">
  </label>
  </br>

  <label>
    Name:  
    <input value="{{student.name}}" name="name" type="text">
  </label>
  </br>

  <img src="{{student.profileImg}}" alt="Profile Image">
  </br>

  <label>
    Description: 
    <input value="{{student.description}}" name="description" type="text">
  </label>
  </br>

{{#if isAdmin}}
  <label>
    Role: 
    <input value="{{student.role}}" name="role" type="text">
  </label>
  </br>
{{/if}}

  <button type="submit">Submit</button>
</form>