<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar</h1>

            <hr>

            <form action="/students/{{student.id}}/edit" method="POST">

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{student.name}}">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{student.username}}">
                </div>

                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" class="form-control" name="description" id="description"
                        value="{{student.description}}">
                </div>

                <div class="form-group">
                    <label for="role">Rol</label>
                    <select class="custom-select" name="role" id="role">
                        <option value="{{student.role}}">Elige una opción</option>
                        <option>DEV</option>
                        <option>TA</option>


                    </select>
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Guardar edición</button>

            </form>
        </div>

    </div>

</div>