<h1>Student details</h1>
<div>
    <h3>username: {{student.username}}</h3>
    <p>email: {{student.email}}</p>
    <p>description: {{student.description}}</p>
    {{#if isPM}}
    <form action="/students/edit/{{student._id}}" method="get">
        <button>Edit</button>
    </form>

    <form action="/students/delete/{{student._id}}" method="post">
        <button>Delete</button>
    </form>

    <form action="/students/upgrade/{{student._id}}" method="post">
        {{!-- <button type="submit" value="PM">Upgrade</button> --}}

        <select name="newRole" id="pet-select">
            <option value="">--Please choose an option--</option>
            <option value="TA">TA</option>
            <option value="DEV">DEV</option>
        </select>
        <button type="submit">Upgrade</button>
    </form>
    {{/if}}
</div>