<div class="container">

    {{#with theStudent}}
    <img src="{{profileImg}}" alt="Student Picture">
    <hr>
    <h1>{{name}}</h1>
    <h3>{{username}}</h3>
    <p>{{description}}</p>
    <p>Role: {{role}}</p>
    <hr>
    <a href="/students" class="btn btn-dark">Back to the List</a>
    <hr>

    {{#if ../isBoss}}
    <a href="/students/edit/{{id}}" class="btn btn-dark">Edit Student</a>
    <form action="/delete/{{id}}" method="POST">
        <button class="btn btn-danger">Delete student</button>
    </form>
    {{/if}}
    {{/with}}
</div>