<div class="container">

    <h2>Detalles de {{theStudent.name}}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Nombre de usuario: </h3>
            <p>{{theStudent.username}}</p>
            <h3>Nombre: </h3>
            <p>{{theStudent.name}}</p>
            <h3>Descripcion: </h3>
            <p>{{theStudent.description}}</p>
            <h3>Rol: </h3>
            <p>{{theStudent.role}}</p>
            <h3>ID: </h3>
            <p>{{theStudent.id}}</p>
        </div>
    </div>



    <hr>
    <div class="row">

        <div class="col-2">
            <a href="/estudiantes" class="btn btn-dark">Lista estudiantes</a>
        </div>
        {{#if isPM}} 
        <div class="col-2">

            <a href="/estudiantes/{{theStudent.id}}/editar" class="btn btn-warning">Editar perfil</a>

        </div>
        <hr>
        <div class="col-2">
            
            <form action="/estudiantes/{{theStudent.id}}/eliminar" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Eliminar estudiante</button>
            </form>
            
        

        </div>
        <div class="col-2">
        
            <form action="/estudiantes/{{theStudent.id}}/TA" method="post">
                <button type="submit" class="btn btn-warning btn-sm">Marcar como TA</button>
            </form>

        </div>

        <div class="col-2">
        
            <form action="/estudiantes/{{theStudent.id}}/DEV" method="post">
                <button type="submit" class="btn btn-warning btn-sm">Marcar como DEV</button>
            </form>
        
        </div>

        {{/if}}
        {{#if myUser}}
        <div class="col-2">
        
            <a href="/estudiantes/{{theStudent.id}}/editar-perfil" class="btn btn-warning">Editar perfil</a>
        
        </div>
        {{/if}}
    </div>
    

    <hr>
    <a href="/" class="btn btn-dark">Inicio</a>

</div>