<div class="container">

<h2>Detalles de {{theStudent.username}}</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Nombre de usuario: </h3>
        <p>{{theStudent.username}}</p>
        <h3>Nombre: </h3>
        <p>{{theStudent.name}}</p>
        <h3>Descripcion: </h3>
        <p>{{theStudent.description}}</p>
        <h3>Rol: </h3>
        <p>{{theStudent.role}}</p>
        <h3>ID: </h3>
        <p>{{theStudent.id}}</p>
    </div>

</div>

<hr>
<a href="/estudiantes" class="btn btn-dark">Lista estudiantes</a>

{{#if isPM}} 
{{!--    /estudiantes/{{theStudent.id}}/editar   --}}
<a href="/estudiantes/{{theStudent.id}}/editar" class="btn btn-warning">Editar perfil</a>

<form action="/estudiantes/{{theStudent.id}}/eliminar" method="post">
    <button type="submit" class="btn btn-danger">Eliminar estudiante</button>
</form>
{{!-- <a href="/estudiantes/{{theStudent.id}}/eliminar" class="btn btn-danger">Eliminar estudiante</a> --}}
{{/if}}
<hr>
<a href="/" class="btn btn-dark">Inicio</a>
{{!-- <a href="/movies/details/{{id}}/edit" class="btn btn-warning">Editar</a> --}}
</div>