<h2>Update the Students</h2>
<form action="/students/{{id}}/edit" method="POST">
    <label>
        Nombre
        <input type="text" name="username" value="{{username}}">
    </label>
    <br><br>
    <label>
        Mail
        <input type="text" name="email" value="{{email}}">
    </label>
    <br><br>
    <label>
        Foto
        <input type="text" name="Profile Img" value="{{profileImg}}">
    </label>
    <label>
        Descripcion
        <input type="text" name="descripcion" value="{{role}}">
    </label>
    <button type="submit"> listo</button>
</form>