<div class="container">
    <div class="row justify-content-center">
        <h1>Perfil de {{user.username}}</h1>
        <hr>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{user.profileImg}}" class="card-img-top" alt="foto de perfil">
                </div>
                        
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{user.username}}</h5>
                        <p class="card-text">{{user.email}}</p>
                        <p class="card-text"><small class="text-muted">{{user.role}}</small></p>
                        <p class="card-text"><small class="text-muted">{{user.description}}</small></p>
                     {{#if isPm}}
                        
                        <form action="/edit/{{_id}}" method="GET">
                            <button class="btn btn-warning">Editar perfil</button>
                        </form>

                        <form action="/delete/{{_id}}" method="POST">
                            <button class="btn btn-danger">Eliminar perfil</button>
                        </form>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>