<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{profileImg}}" alt="user profile image">
        </div>
        <div class="col">
            <h1>{{username}} | {{role}}</h1>
            <hr>
            <p><span>Description</span><br>
                {{description}}</p>
            <p class="mb-3"><span>Email</span><br>
                {{email}}
            </p>
            <a href="/student/{{id}}/edit" class="btn btn-sm btn-warning">Editar</a>
        </div>
    </div>
</div>