<div class="container">


    <h1>Profile details</h1>

    <hr>

    {{students.username}}
    
    <img src="{{student.profileImg}}" alt="pic">
    <hr>
    {{student.email}}
    <hr>
    {{student.description}}
    <hr>

   
       
        {{#if roles.isPM}}
        <a href="/students/{{student._id}}/edit" class="btn btn-sm btn-warning">Editar</a>
        
        <form action="/students/{{student._id}}/delete" method="POST" style="display: inline-block">
            <input type="submit" value="eliminar" class="btn btn-danger btn-sm">
        </form>
        {{/if}}


    
    <a href="/students" class="btn btn-secondary btn-sm">Return to list!</a>
    <a href="/" class="btn btn-warning btn-sm">Go Home!</a>

</div>

