<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Editar {{username}}</h1>
            <hr>

            <form action="/students/detalles/editar/{{_id}}" method="POST">
                <div class="mb-3 mt-5">
                    <label for="studentName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="studentName" name="username" value="{{username}}">
                </div>

                <div class="mb-3">
                    <label for="studentEmail" class="form-label">Email</label>
                    <input type="text" class="form-control" id="studentEmail" name="email" value="{{email}}">
                </div>

                <div class="mb-3 ">
                    <label for="studentDescrip" class="form-label">Description</label>
                    <input type="text" class="form-control" id="studentDescrip" name="description"
                        value="{{description}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
            </form>

        </div>
    </div>



</div>