<div class="row justify-content-center mb-5">

    <div class="col-md-6">

        <h1>Editar Registro</h1>
        <hr>

        <form action="/students/{{id}}/edit" method="POST">

            <div class="mb-3 row">
                <div class="col">
                    <label for="emailInput" class="form-label">Cambiar dirección de email</label>
                    <input type="email" class="form-control" id="emailInput" name="email" value="{{email}}">
                </div>
                <div class="col">
                    <label for="pwdInput" class="form-label">Cambiar contraseña</label>
                    <input type="password" class="form-control" id="pwdInput" name="userPwd">
                </div>
            </div>

            <div class="mb-3">
                <label for="usernameInput" class="form-label">Cambiar nombre de usuario</label>
                <input type="text" class="form-control" id="usernameInput" name="username" value="{{username}}">
            </div>

            <div class="mb-3">
                <label for="imageInput" class="form-label">Cambiar imagen</label>
                <input type="url" class="form-control" id="imageInput" name="profileImg" value="{{profileImg}}">
                <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
            </div>

            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Cambiar descripción</label>
                <textarea class="form-control" id="descriptionInput" rows="3"
                    name="description">{{description}}</textarea>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark block">Guardar</button>
            </div>

            {{!-- <input type="hidden" value="{{id}}" name="student_id"> --}}

            {{!-- {{#if errorMessage}}
            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}} --}}

        </form>
    </div>
</div>