<div class="container">
    <h2>Update {{user.username}}</h2>
    <hr>
    <form action="/students/{{_id}}/edit" method="POST">
        <label>
            <p>Username</p>
            <input type="text" name="username" value="{{username}}">
        </label>
        <br><br>
        <label>
            <p>Email</p>
            <input type="number" name="email" value="{{email}}">
        </label>
        <br><br>
        <label>
            <p>Description</p>
            <input type="number" name="description" value="{{description}}">
        </label>
        <br><br>
        <input class="btn" type="submit" value="Update student">
    </form>
    <hr>
    <a href="/students">Back to students</a>
</div>