<form action="/students/{{userProfile._id}}/edit" method="post">
    <input type="text" name="username" value="{{username}}">
    <hr>
    <input type="text" name="email" value="{{email}}">
    <hr>
    <input type="text" name="description" value="{{description}}">
    <hr>
    <input type="text" name="role" value="{{role}}">
    <button type="submit">Confirm</button>
</form>