<h1>Students List</h1>

<div class="row justify-content-center px-2">

    {{#each students}}
    <div class="col-md-3 ">
        <div class="card m-1 p-2">
            <div class="d-flex justify-content-center">
                <img src="{{profileImg}}" class="rounded card-img-top user-list-img" alt="{{username}}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <span class="badge rounded-pill text-bg-secondary">{{role}}</span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{description}}</li>
                {{!-- <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li> --}}
            </ul>
            <div class="card-body">
                <a href="/students/{{id}}" class="card-link">Detalles</a>
                {{!-- <a href="#" class="card-link">Edit</a> --}}
                {{!-- <a href="#" class="card-link">Delete</a> --}}
            </div>
        </div>
    </div>
    {{/each}}

</div>