<div class="container">
    <h2>Student Profile</h2>
    <hr>
    <img src="{{profileImg}}" alt="{{username}}">
    <h5>
        Username:
        {{username}}
    </h5>
    <p>
        Email:
        {{email}}
    </p>
    <p>
        Description:
        {{description}}
    </p>
    <hr>
    <a href="/students">Go to students</a>
</div>