<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Listado de alumnos</h1>
            <hr>

            <div class="row">
                {{#each users}}
                <div class="card col-md-2 m-4 mb-2" style="width: 12rem;">
                    <img src={{profileImg}} class="card-img-top" alt="fotografia">
                    <div class="card-body">
                        <h5 class="card-title">{{username}}</h5>
                        <p class="card-text">{{email}}</p>
                        <p class="card-text">{{description}}</p>
                        <div class="row">
                            <a href="/users/students/{{id}}" class="btn btn-dark btn-sm">Ver perfil</a>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>

    <hr>

    <a href="/" class="btn btn-dark">Volver a inicio</a>

</div>