<form action="/estudiantes/{{student._id}}/editar" method="POST" style="display: inline-block;">

    <label>
        Username
        <input type="text" name="username" value="{{student.username}}">
    </label>

    <label>
        Email
        <input type="text" name="email" value="{{student.email}}">
    </label>

    <label>
        ProfileImg
        <input type="text" name="profileImg" value={{student.profileImg}}>
    </label>

    <label>
        Description
        <input type="text" name="description" value={{student.description}}>
    </label>

    <input type="submit" value="Edit Student">


</form>