<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar perfil</h1>
            <hr>

            <form action="/edit/{{id}}" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div>

                <div class="mb-3">
                    <label for="profileImg" class="form-label">Fotografía:</label>
                    <input type="text" class="form-control" id="profileImg" name="profileImg" value="{{profileImg}}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{description}}">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Guardar edición</button>

                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>