<div class="container">
    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <img src="{{profileImg}}" alt="{{username}}">
    <p>{{username}}</p>
    <p>{{email}}</p>
    <p>{{description}}</p>
</div>