<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            {{#if isOwnProfile}}
            <h1>My Profile</h1>
            {{else}}
            <h1>{{user.username}} Profile</h1>
            {{/if}}

            <p>Username: {{user.username}}</p>
            <p>Name: {{user.name}}</p>
            <p>Image: {{user.profileImg}}</p>
            <p>Description: {{user.description}}</p>
            <p>Facebook ID: {{user.facebookId}}</p>
            <p>Role: {{user.role}}</p>
        </div>
    </div>
    {{#if isOwnProfile}}
    <div class="row justify-content-center">
        <div class="col"><a class="btn btn-dark" href="/my-platform/my-profile/edit">Edit profile</a></div>
    </div>
    {{/if}}
</div>