<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <div>
                <h1>Editar usuario</h1>
                <hr>
                <h2>{{username}}</h2>
                <h2>{{email}}</h2>
                <h2>{{role}}</h2>
                <hr>
                <form action="/students/{{_id}}/makeDEV" method="POST" style="display: inline;">
                    <input type="submit" value="Mark as DEV" class="btn btn-sm btn-success">
                </form>

                <form action="/students/{{_id}}/makeTA" method="POST" style="display: inline;">
                    <input type="submit" value="Mark as TA" class="btn btn-sm btn-primary">
                </form>
            </div>
            <hr>

            <form action="/students/{{_id}}/edit" method="POST">
                <div class="mb-3 row">
                    <div class="col">
                        <label for="username" class="form-label">Username: </label>
                        <input value="{{username}}" type="text" class="form-control" id="username" name="username">
                        <div class="form-text">Requerido.</div>
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Dirección de email</label>
                        <input value="{{email}}" type="email" class="form-control" id="email" name="email">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea class="form-control" id="description" rows="3"
                        name="description">{{description}}</textarea>
                </div>

                <div class="mb-3">
                    <label for="profileImg" class="form-label">Imagen</label>
                    <input value="{{profileImg}}" type="url" class="form-control" id="profileImg" name="profileImg">
                    <div class="form-text">Introduce tu imagen de perfil</div>
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Completar registro</button>
                </div>

                <div>
                    <a class="btn btn-dark" href="/students">Back to list</a>

                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}


            </form>
        </div>
    </div>